
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    -moz-box-sizing: border-box;  
}
body{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
button{
    border: none;
    cursor: pointer;
}

#calculator{
    padding: 5em 3em 3em 3em;
    max-width: 450px;
    height: 550px;
    border: 1px solid black;
    margin: 5em auto;
    background-color: #42546c;
    border-radius: 3%;
}

#screen{
    height: 20%;
    border: 1px solid #ccc;
    margin: 5em 0;
    background-color: #a7a781;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 1rem 3rem;
}
#screen p{
    font-size: 3em;
}

#operators{
    height: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2em;
    margin-bottom: 2em;
}   
#operators button{
    font-size: 4em;
    font-weight: 700;
}

#main{
    height: 58%;
    display: grid;
    grid-template-columns: 80% 20%;
}
#numbers{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2em;
    row-gap: 2em;
    height: 90%;
}
#numbers .number{
    font-size: 2.5em;
}
#del-ac-eq{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 1em;
    height: 90%;
}
#del-ac-eq button{
    font-size: 2.5em;
}
#del, #ac{
    background-color: #a77d8b;
    color: white;
}

#eq,
#operators button,
#numbers button{
    background: #9ca1a4;
}

@media (max-width: 480px){
    #numbers{
        column-gap: 1em;
    }
}
